body {
  font-size: 16px;
  color: #fff;
  background-color: #ffffff;
  font-family: 'Roboto', Arial;
}

/** HEADER BEGIN**/
#header-nav {
  background-color: #425462;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/blockchain_tiny_logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* company name */
  font-family: 'Roboto', Arial;
  color: #e0e2e6;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* company tagline */
  font-family: 'Montserrat', Arial;
  color: #ffffff;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* tagline */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  text-decoration: underline;
}
#nav-list a span {
  font-size: 1.2em;
}
/** END HEADER **/

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: rgb(77, 80, 83);
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#aboutus {
  line-height: 1.7;
}
#aboutus > span{
  font-size: 1.1em;
}
#products {
  color: #ffffff;
  font-size: 1.1em;
  line-height: 1.7;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

/** HOME PAGE BEGIN **/
.container .jumbotron {
  box-shadow: 0 0 50px #FFFFFF;
  border: 2px solid #ffffff;
}
/**
.carousel-inner {
  height: 500px;
  width: 100%;
  margin-bottom: 15px;
}
**/

#biometrics-tile, #devices-tile, #payments-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #425462;
  overflow: hidden;
}

#biometrics-tile:hover, #devices-tile:hover, #payments-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#biometrics-tile {
  background: url('../images/say-tec_visual.png') no-repeat;
  background-position: center;
}
#devices-tile {
  background: url('../images/phone_cfca_cert.png') no-repeat;
  background-position: center;
}
#payments-tile {
  background: url('../images/prepaid-cards-large.jpg') no-repeat;
  background-position: center;
}

#biometrics-tile span, #devices-tile span, #payments-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/** END HOME PAGE **/

/* PRODUCT CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid rgb(20, 16, 53);
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #040c795d;
}

#main-content h2 {
  margin-bottom: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #000;

}

#product-categories-title + div {
  margin-bottom: 20px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #000;

}

/* END PRODUCT CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.product-item-tile {
  margin-bottom: 25px;
}
.product-item-tile hr {
  width: 80%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #000;
}
.product-item-tile .product-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #000;
}
.product-item-tile .product-item-price span {
  font-size: .6em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #000;
}

.product-item-photo {
  position: relative;
  border: 2px solid #1c1b20; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.product-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #6d6e7c;
  text-align: center;
}
.product-item-description {
  padding-right: 30px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #000;
}
h3.product-item-title {
  margin: 0 0 10px;
}
.product-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/borealis-background.png') no-repeat;
    height: 500px;
  }

    /* Single Category Page */
    #biometrics-tile, #devices-tile, #payments-tile {
      width: 360px;
      margin: 0 auto 15px;
    }
  
    .product-item-photo {
      margin-right: auto;
    }
  
    .product-item-tile .product-item-price .product-item-description {
      text-align: center;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/blockchain_tiny_logo.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/borealis-background.png') no-repeat;
    height: 400px;
  }

  /* Single Category Page */
  #biometrics-tile, #devices-tile, #payments-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .product-item-photo {
    margin-right: auto;
  }

  .product-item-tile .product-item-price .product-item-description {
    text-align: center;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/borealis-background.png') no-repeat;
    height: 300px;
  }
  /* End Home Page */
  /* Single Category Page */
  #biometrics-tile, #devices-tile, #payments-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .product-item-photo {
    margin-right: auto;
  }

  .product-item-tile .product-item-price .product-item-description {
    text-align: center;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* company name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* tagline */
    font-size: .6em;
    margin-top: 12px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

  /* FOOTER Begin*/
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

  /* Home Page */
  .container .jumbotron {
    margin-top: 20px;
    padding: 0;
  }

  #biometrics-tile, #devices-tile, #payments-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .product-item-photo {
    margin-right: auto;
  }

  .product-item-tile .product-item-price .product-item-description {
    text-align: center;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* company name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home page */
  #biometrics-tile, #devices-tile, #payments-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  /* Product Categories Page */
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
